@import "variables";
@import "colors";
@import "reset";
@import "mixins";

main {
  @include repeated-grid(30, 1, 0);
}
@for $i from 1 through 30 {
  div {
    background-color: blue;
    &:nth-child(#{$i}) {
      height: random(5) * 10%;
      background: linear-gradient(
        to bottom,
        rgb(random(255), random(255), random(255)),
        rgb(random(255), random(255), random(255))
      );
      animation: scale-y random(20) + s random(15) + s infinite alternate;
    }
    @if $i % 2 == 0 {
      &:nth-child(#{$i}) {
        align-self: end;
        border-top-left-radius: random(10) + vh;
        border-top-right-radius: random(10) + vh;
        transform-origin: bottom;
      }
    } @else {
      &:nth-child(#{$i}) {
        align-self: start;
        border-bottom-left-radius: random(10) + vh;
        border-bottom-right-radius: random(10) + vh;

        transform-origin: top;
      }
    }
  }
}

@include keyframes(scale-y) {
  0% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(2);
  }
  100% {
    transform: scaleY(1);
  }
}
